.dark {
  background: dimgrey;
  height: 10rem;
}

.dark-text {
  color: aliceblue;
}

.yellow {
  background: #ecd662;
  height: 10rem;
}

.yellow-text {
  color: rgb(61, 61, 61);
}

.teal {
  background: #53b8bb;
  height: 10rem;
}

.teal-text {
  color: rgb(37, 37, 37);
}

.wrapper {
  margin-top: 2rem;
}
