.wrapper {
  display: grid;
  grid-template-columns: 10% 10% 10% 70%;
  margin-left: 2rem;
}
.deleteBtn {
  justify-self: center;
  height: 2rem;
  padding: auto;
}

.name {
  display: inline-block;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 2.2rem;
  align-self: center;
  color: #e9e9e9;
}
.priority {
  display: inline-block;
  font-weight: 400;
  font-size: 1.4rem;
  align-self: center;
  text-shadow: 1px 1px 2px #1a1a1a;
}

.buttonsWrapper {
  margin-left: 1.4rem;
  display: flex;
  justify-content: space-around;
  width: 23%;
}
.buttonsWrapper button {
  margin: 3px;
  padding: 8px 20px;
}
